:root {
  --dark: #343a40;
  --shadow: 0 1px 8px 2px #2c241ba2;
  --light-shadow: 0 1px 8px 2px #2c241b23;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;
  font-size: 0.9rem;
  background-color: #f8f9fa;
}
h4 {
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}
.paper-bg {
  background-image: url(./img/Grunge-Paper-Texture-1.jpg);
  background-position: top;
  background-size: cover;
}
.modal-backdrop {
  background-color: var(--dark);
}
/* ******************* Navigation ********************* */
.nav-logo {
  height: 2rem;
}
.nav-link {
  margin-right: 40px;
}
.nav-link i {
  margin-right: 7px;
}
/* ******************* Footer ********************* */
footer {
  background-color: var(--dark);
  padding: 3rem 1rem 2.2rem;
}

.footer-logo {
  height: 2.2rem;
}

.copy {
  color: grey;
  font-size: 0.7rem;
}
.footer-menu {
  margin-top: 1.4rem;
}
.footer-link {
  color: grey;
  margin: 1rem;
  font-size: 0.8rem;
}
.footer-link:hover {
  color: lightgrey;
  text-decoration: none;
}

.socials {
  list-style-type: none;
  margin-top: 0.8rem;
  margin-bottom: 0;
  padding: 0;
}
.socials-link {
  margin: 0.8rem;
  display: inline-block;
}
.socials-link a {
  color: grey;
  font-size: 1.5rem;
}
.socials-link a:hover {
  color: lightgray;
}

/* ******************* Home Jumbotron ********************* */
.jumbotron {
  box-sizing: border-box;
}
.home-jumbotron {
  height: 100vh;
  background-image: url(./img/home-bg.jpg);
  background-position: top;
  background-size: cover;
  box-sizing: border-box;
}

.heading-card {
  padding: 14px;
  box-shadow: var(--shadow);
}
.heading-content {
  border: 2px solid var(--dark);
  padding: 50px 30px;
  position: relative;
}
.heading-h1:before {
  content: "";
  background: url(./img/ornament2.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 190px;
  height: 17px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.heading-h1 {
  font-family: "Prata", serif;
  margin-bottom: 2rem;
  font-size: 2.4rem;
}

/* ******************* Recipes List ********************* */
.recipes-list {
  padding: 60px 0 100px;
  background-color: #f8f9fa;
}

/* ******************* Recipe ********************* */
.recipe-card {
  padding: 30px 44px;
  box-shadow: var(--light-shadow), 0 2px 3px 1px #2c241b3a;
  margin-bottom: 40px;
}

/* ******************* Recipe Title ********************* */
.recipe-title {
  text-align: center;
  font-family: "Prata", serif;
  font-size: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name-line {
  background-color: var(--dark);
  display: block;
  width: 20%;
  height: 1px;
}
.name-text {
  padding: 0 30px;
  transition: color 0.1s ease;
  color: var(--dark);
  max-width: 50%;
}
a:hover .recipe-title .name-text {
  color: rgb(92, 92, 92);
}

/* ******************* Star Rating ********************* */
.star-rating {
  text-align: center;
  margin-top: 15px;
}

/* ******************* Ingredients ********************* */
.ingredients {
  margin-top: 10px;
}
.ingredients-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  grid-gap: 5px 30px;
}
.ingredients-item {
  font-size: 0.9rem;
}

/* ******************* Horizontal Deco Line ********************* */
.horizontal-line {
  background-image: url(./img/hr-line.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 45px;
  margin: 10px auto 10px;
  opacity: 0.2;
}

/* ******************* About Recipe Info********************* */
.create-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.label {
  font-size: 0.8rem;
  color: gray;
  padding-right: 10px;
}

/* ******************* Show Recipe ********************* */
.show-recipe-container {
  background-image: url(./img/wood.jpeg);
  background-position: top;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.show-recipe {
  padding: 2.5rem 4.5rem;
  box-shadow: 2px 1px 10px 4px #2c241ba2, 1px 0 3px 1px #2c241bdc;
}

/* ******************* Instructions ********************* */
.instructions {
  margin-top: 2.5rem;
}
.instructions-list {
  list-style-type: none;
  padding-left: 1rem;
}
.instructions-item {
  display: flex;
  margin: 1rem 0;
  align-items: center;
}
.step-number {
  display: block;
  height: 30px;
  border: 1px solid grey;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  color: grey;
  font-size: 14px;
  font-weight: bold;
  padding: 0 10px;
  box-sizing: border-box;
}
.step-text {
  margin-left: 20px;
  display: inline-block;
}

/* ******************* Recipe Form Container ********************* */
.recipe-container {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 70px;
}

.form-recipe {
  padding: 3rem 4.5rem;
  box-shadow: var(--light-shadow);
}
.form-recipe h2 {
  margin-bottom: 2rem;
}

/* ******************* Recipe Form ********************* */
.form-add-multiple {
  margin: 2.5rem 0;
}
.form-add-multiple ul {
  list-style-type: none;
  padding: 0;
}
.form-add-multiple ul li {
  border-radius: 5px;
  margin-bottom: 0.8rem;
  position: relative;
}

.plus-icon {
  margin-right: 0.4rem;
}
.delete-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-left: none;
}
.ingredients-input-field {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

.submit-btnd-group {
  margin-top: 3rem;
}

.error-message {
  font-size: 0.7rem;
  color: red;
  margin-top: 0.1rem;
}

.error-message:before {
  content: "*";
  margin-right: 0.3rem;
  font-size: 0.7rem;
  color: red;
}

/* ******************* Auth Modal ********************* */
.modal-dialog {
  max-width: 350px;
}

.modal-title {
  font-size: 0.9rem;
  color: gray;
  margin-top: 0.6rem;
}
.auth-modal-footer {
  font-size: 0.75rem;
  padding: 0.6rem;
}
/* ******************* Auth Form ********************* */
.auth-error-message {
  color: red;
  background-color: rgba(255, 0, 0, 0.13);
  display: block;
  border-radius: 5px;
  padding: 0.7rem;
}
